@font-face {
    font-family: 'cwTeXHei';
    font-style: normal;
    font-weight: 500;
    src: url('http://kuntai.epoch.tw/public/fonts/cwTeXHei/cwTeXHei-zhonly.eot');
    src: url('http://kuntai.epoch.tw/public/fonts/cwTeXHei/cwTeXHei-zhonly.eot?#iefix') format('embedded-opentype'),
    url('http://kuntai.epoch.tw/public/fonts/cwTeXHei/cwTeXHei-zhonly.woff2') format('woff2'),
    url('http://kuntai.epoch.tw/public/fonts/cwTeXHei/cwTeXHei-zhonly.woff') format('woff'),
    url('http://kuntai.epoch.tw/public/fonts/cwTeXHei/cwTeXHei-zhonly.ttf') format('truetype');
}